@charset "UTF-8";
html{
    font-size: 100%;
}
h1{
    font-size:2rem;
    color: darkturquoise;
    text-align: center;    
}
h2{
    color: dodgerblue;
    font-size:1.5rem;
}
body{
    background-image: url("bg.png");
}
